*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        /* border: red solid 1px; */
}
body, html {
    height: 80vh;
    background-image: url(images/background1.bmp);
}

.playArea {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.card-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    position: relative;
    max-height: 45%;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: center;
    height: 314px;
    width: 211px;
    max-height: 90%;
}

img {
    margin-bottom: 1.5em;
    border-radius: 10px;
    transform: scale(75%);
}

p {
    align-self: center;
    position: absolute;
    bottom: 3vh;
    margin: 0 auto;    
    font-size: 2vh;
    color: white;
}

button {
    height: 2em;
    min-width: 8vw;
    margin: 0 auto;
    padding: 5px;
    font-size: minmax(1vw, 1em);
    cursor: pointer;
}

.remainingCards {
    position: unset;
    margin-bottom: 0.5em;
}

.remainingAndDraw {
    text-align: center;
}

#score1,
#score2 {
    font-weight: 700;
    white-space: nowrap;
    font-size: min(4vh, 2em);
    padding: 0 5px;
    width: 4.5em;
    background-color: white;
}

img #card1,
img #card2 {
    position: relative;
}

h1 {
    background: pink;
    align-self: center;
    font-size: min(5vw, 5em);
    color: red;
    position: absolute;
    top: 27%;
}

#loser1,
#loser2 {
    background: grey;
    color: black;
}